**/node_modules
**/.claude
**/.vscode
**/.idea
**/dist
**/build
**/database.sqlite
**/logs/
api_specification.md
description_project.md
**/src

# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
