# Sprint 1 Test Run

| Test Case ID | Module | Tester | Result | Related Bug | Note |
|--------------|--------|--------|--------|-------------|------|
| TC-LOGIN-001 | Login  | 23127300 | Pass   |             |      |
| TC-LOGIN-002 | Login  | 23127300 | Fail   | #1          | Lỗi thiếu HTML5 email validation |
| TC-LOGIN-003 | Login  | 23127300 | Pass   |             |      |
| TC-LOGIN-004 | Login  | 23127300 | Pass   |             |      |
| TC-LOGIN-005 | Login  | 23127300 | Pass   |             |      |
| TC-LOGIN-006 | Login  | 23127300 | Pass   |             |      |
| TC-LOGIN-007 | Login  | 23127300 | Pass   |             |      |
